# Ignore IDE conf files
modime.usertasks
modime.userprefs
modime.suo
modime/modime.csproj.user

# Ignore build files
modime/bin/
modime/obj/
libgame/bin/
libgame/obj/
common/obj/
ninokuni/obj/
nitro/obj/
